ul.nav.nav-tabs.add-tabs-container.clearfix
	li.col-md-4.add-tab.active
		a.add-tab-link(href="#client" aria-controls="client" role="tab" data-toggle="tab")
			span.round.active 1
			span.add-tab-link-text
				h5.header-5.add-tab-link-text__header ADD CLIENT
				span.field-text.link-sub-text.add-tab-link-text__sub-text Select an existing client
	li.col-md-4.add-tab
		a.add-tab-link(href="#job" aria-controls="job" role="tab" data-toggle="tab")
			span.round.inactive 2
			span.add-tab-link-text
				h5.header-5.add-tab-link-text__header ADD job
				span.field-text.link-sub-text.add-tab-link-text__sub-text Select a job category
	li.col-md-4.add-tab
		a.add-tab-link(href="#employees" aria-controls="employees" role="tab" data-toggle="tab")
			span.round.inactive 3
			span.add-tab-link-text
				h5.header-5.add-tab-link-text__header assign employee