// client profile starts
#client-profile.tab-pane.client-section.clearfix
	.col-md-10.col-md-offset-1
		h3.recent-sub-head Client Profile
		form.editable-form
			a#edit-form(href='#' class="pull-right edit-link") EDIT
			ul.updated-status-card.detail-recent-activity.editable-section
				//a.pull-right.edit-link(href='#') EDIT

				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Basic Information
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label Client Code
							input.form-element-wrapper.client-base-details.editable-info(value="1001" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Company Name*
							//span.client-base-details.upper RKSV
							input.form-element-wrapper.client-base-details.editable-info(value="RKSV" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Address
							input.form-element-wrapper.client-base-details.editable-info(value="30th Floor, Sunshine Towers, Mumbai" readonly)
							//span.client-base-details 30th Floor,Sunshine Towers, Mumbai
				// activity status block ended
				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Contact
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label Contact Person
							//span.client-base-details 1001
							input.form-element-wrapper.client-base-details.editable-info(value="Ravi Kumar" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Contact Number
							//span.client-base-details.upper RKSV
							input.form-element-wrapper.client-base-details.editable-info(value="1596324789" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Email Address
							//span.client-base-details ravi@rksv.com
							input.form-element-wrapper.client-base-details.editable-info(value="ravi@rksv.com" readonly)
				// activity status block ended
				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Company
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label PAN
							//span.client-base-details Ravi Kumar
							input.form-element-wrapper.client-base-details.editable-info(value="Ravi Kumar" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label TAN
							//span.client-base-details 90000000
							input.form-element-wrapper.client-base-details.editable-info(value="90000000" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label TIN
							input.form-element-wrapper.client-base-details.editable-info(value="ravi@rksv.com" readonly)
							//span.client-base-details ravi@rksv.com
						li.client-base-items.col-md-4
							label.profile-field-label VAT
							//span.client-base-details ravi@rksv.com
							input.form-element-wrapper.client-base-details.editable-info(value="ravi@rksv.com" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Billing type
							//span.client-base-details Monthly
							input.form-element-wrapper.client-base-details.editable-info(value="Monthly" readonly)
				// activity status block ended
				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Jobs
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label Open Jobs
							//span.client-base-details 2
							input.form-element-wrapper.client-base-details.editable-info(value="2" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Priority
							//span.client-base-details.upper RKSV
							input.form-element-wrapper.client-base-details.editable-info(value="RKSV" readonly)
						li.client-base-items.col-md-4
				// activity status block ended
// client profile ended