#employee-profile.tab-pane.client-section.clearfix
	.col-md-10.col-md-offset-1
		h3.recent-sub-head Employee Profile
		form.editable-form
			a#edit-form(href='#' class="pull-right edit-link") EDIT
				//span.pull-right.edit-link EDIT
			ul.updated-status-card.detail-recent-activity.editable-section
				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Basic Information
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label Employee Id
							//span.client-base-details 1001
							input.form-element-wrapper.client-base-details.editable-info(value="1001" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label First Name
							span.client-base-details.upper
							input.form-element-wrapper.client-base-details.editable-info(value="RKSV" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Last Name
							//span.client-base-details Kumar
							input.form-element-wrapper.client-base-details.editable-info(value="Kumar" readonly)
				// activity status block ended
				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Contact
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label Contact Number
							//span.client-base-details 1001
							input.form-element-wrapper.client-base-details.editable-info(value="1001" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Email Address
							//span.client-base-details ravi@rksv.com
							input.form-element-wrapper.client-base-details.editable-info(value="ravi@rksv.com" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Residence Address
							//span.client-base-details 30th Floor,Sunshine Towers, Mumbai
							input.form-element-wrapper.client-base-details.editable-info(value="30th Floor,Sunshine Towers, Mumbai" readonly)
				// activity status block ended
				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Company
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label Position
							//span.client-base-details Manager
							input.form-element-wrapper.client-base-details.editable-info(value="Manager" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Department
							//span.client-base-details Accounting
							input.form-element-wrapper.client-base-details.editable-info(value="Accounting" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Report To
							//span.client-base-details Admin
							input.form-element-wrapper.client-base-details.editable-info(value="Admin" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Date of joining
							//span.client-base-details 21 Aug 2010
							input.form-element-wrapper.client-base-details.editable-info(value="21 Aug 2010")
						li.client-base-items.col-md-4
							label.profile-field-label Salary
							//span.client-base-details 25000
							input.form-element-wrapper.client-base-details.editable-info(value="25000" readonly)
						li.client-base-items.col-md-4
							label.profile-field-label Position
							//span.client-base-details Manager
							input.form-element-wrapper.client-base-details.editable-info(value="Manager" readonly)
				// activity status block ended
				// activity status block1
				li.activity-inner-list.client-profile
					h3.recent-sub-head Personal
					ul.client-base-details
						li.client-base-items.col-md-4
							label.profile-field-label Date of Birth
							//span.client-base-details 1 Jan 1980
							input.form-element-wrapper.client-base-details.editable-info(value="1 Jan 1980" readonly)
				// activity status block ended