<div role="tabpanel" class="view-pane view-pane--grid tab-pane active" id="grid-view">

	<div class="container">
<!--				Pending Jobs list-->
		<div class="col-md-3">
			<div class="job-status-cards-wrapper">
			<div class="card-header card-wrapper-type card-wrapper-type--pending">
				<h4 class="card-header-text">Pending Jobs</h4>
				<span class="status-count card-count-text">24</span>
			</div>
			<ul class="job-card-list">
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
			</ul>
		</div>
		</div>
<!--				END: Pending Jobs list-->

<!--				Work in progress list-->
		<div class="col-md-3">
			<div class="job-status-cards-wrapper">
			<div class="card-header card-wrapper-type card-wrapper-type--in-progress">
				<h4 class="card-header-text">Work in Progress</h4>
				<span class="status-count card-count-text">04</span>
			</div>
			<ul class="job-card-list">
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--completed">On Time</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--completed">On Time</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
<!--						Job Card-->
				<li class="job-card-list-item">
					<div class="job-status-card">
						<div class="job-card-detail job-card-detail--1">
							<div class="job-status-logo">
								<span class="round">RK</span>
							</div>
							<div class="job-status-company-detail">
								<h4 class="card-company-text card-company-header">RKSV</h4>
								<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
								<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
							</div>
						</div>
						<div class="job-status-job-person job-detail">
							<span class="icon-user job-detail-icon"></span>
							<span class="detail-text-user job-detail-text">Ram Kumar</span>
						</div>
						<div class="job-status-job-date job-detail">
							<span class="icon-calender job-detail-icon"></span>
							<div class="detail-text-user job-duration job-detail-text">
								<span class="job-duration__from">23 Aug</span>
								<span class="dash"> - </span>
								<span class="job-duration__to">04 Sep</span>
							</div>
						</div>
					</div>
				</li>
<!--						END: Job Card-->
			</ul>
		</div>
		</div>
<!--				END: Work in progress Jobs list-->

<!--				Finished  list-->
		<div class="col-md-3">
			<div class="job-status-cards-wrapper">
				<div class="card-header card-wrapper-type card-wrapper-type--finished">
					<h4 class="card-header-text">Finished Jobs</h4>
					<span class="status-count card-count-text">04</span>
				</div>
				<ul class="job-card-list">
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--completed">On Time</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--completed">On Time</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--completed">On Time</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
				</ul>
			</div>
		</div>
<!--				END: Finished Jobs list-->

<!--				Approved  list-->
		<div class="col-md-3">
			<div class="job-status-cards-wrapper">
				<div class="card-header card-wrapper-type card-wrapper-type--approved">
					<h4 class="card-header-text">Approved Jobs</h4>
					<span class="status-count card-count-text">04</span>
				</div>
				<ul class="job-card-list">
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--completed">On Time</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--completed">On Time</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--completed">On Time</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
<!--						Job Card-->
					<li class="job-card-list-item">
						<div class="job-status-card">
							<div class="job-card-detail job-card-detail--1">
								<div class="job-status-logo">
									<span class="round">RK</span>
								</div>
								<div class="job-status-company-detail">
									<h4 class="card-company-text card-company-header">RKSV</h4>
									<span class="detail-text job-type">Audit - Non-Coy- Tax Audit</span>
									<span class="detail-text job-status job-status--delayed">Delayed by 2 days</span>
								</div>
							</div>
							<div class="job-status-job-person job-detail">
								<span class="icon-user job-detail-icon"></span>
								<span class="detail-text-user job-detail-text">Ram Kumar</span>
							</div>
							<div class="job-status-job-date job-detail">
								<span class="icon-calender job-detail-icon"></span>
								<div class="detail-text-user job-duration job-detail-text">
									<span class="job-duration__from">23 Aug</span>
									<span class="dash"> - </span>
									<span class="job-duration__to">04 Sep</span>
								</div>
							</div>
						</div>
					</li>
<!--						END: Job Card-->
				</ul>
		</div>
			</div>
<!--				END: Approved Jobs list-->

	</div>

</div>