.sidebar
	.sidebar-header
		h2.sidebar-header__header Notifications
		a.close-notification-sidebar(href='#')
			img(src='img/icons/close.png', alt='Close image')
	.notification-list-container
		ul.notification-list
			li.notification-list-item
				a.notification-list-item__link(href='#')
					span.logo-block.round
						| AM
					span.notification-list-brief
						| Welcome to Xillion! Here are
						| some tips and tricks for you.