/*-----Tabs section-----*/
.view-pane{
	padding: 60px 0px;
}

.job-views{

	&.tab-content .tab-pane.view-pane{
		background: white;

		&--grid{
			background: $lighter-gray;
		}
	}

	&.tab-content .active{
		display: flex;
	}
}
/*-----END: Tabs section-----*/

/*------Tabs wrapper------*/
.job-tabs-wrapper{

	.nav-tabs{
		border-bottom-color: $border-line;
	}

	.job-tabs-list-item{

		.job-count{
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background: $blue;
			color: white;
			height: 30px;
			width: 30px;
			border-radius: 50%;
//			visibility: hidden;
			filter: grayscale(100%);
			margin-left: 10px;
			opacity: 0.3;
		}

		.job-tab{
			position: relative;

			&::after{
				position: absolute;
				content: "";
				right: 0;
				background: $border-line;
				height: 40%;
				width: 1px;
			}
		}

		&:first-child{
			.job-tab{
				&::after{
					content: none;
				}
			}
		}

		&:last-child{
			.job-tab{
				&::after{
					content: none;
				}
			}
		}

		&.active{
			.job-count{
//				visibility: visible;
				filter: grayscale(0%);
				opacity: 1;
			}

			.job-tab{
				&::after{
					content: none;
				}
			}
		}
	}

	.nav-tabs > li{
		& > a{
			background: $lighter-gray;
			border-radius: 0px;
			color: $gray-2;
			margin: 0;
			border: 0;
			border: 1px solid transparent;
			border-bottom-color: $border-line;
			padding: 15px 30px;
		}
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background: white;
		color: $blue;
		border: 1px solid $border-line;
		border-bottom-color: transparent;
	}
}
/*------END: Tabs wrapper------*/

/*---------Tabs content---------*/

.job-list-container{
	.jobs-table{
		width: 100%;
		background: white;

		.table-row{
			border-bottom: 1px solid $border-line;
		}

		tbody{
			.table-row{
				opacity: 0.5;
				transition: opacity 0.1s ease;

				&:hover{
					opacity: 1;

					.tb-link{
						filter: none
					}
				}
			}
		}

		.table-headings{
			width: calc(100% / 7);
			padding: 15px 0;

			.sorting-icon{
				font-size: 10px;
				margin-left: 5px;
			}
		}

		.table-content{
			padding: 18px 0;

			&--client-name, &--job-name{
				a{
					color: $blue;
					filter: grayscale(100%);
				}
			}

			&--multiple{
				display: flex;
				justify-content: flex-start;

				.team-list-item{
					margin-left: 10px;

					&:first-child{
						margin-left: 0px;
					}
				}
			}

			&.job-status{
				&--open{
					color: $brightred
				}

				&--wip{
					color: $yellow;
				}

				&--finished{
					color: $green;
				}

				&--approved{
					color: $orange;
				}
			}
		}
	}
}
/*END: Tabs content*/