doctype html
html(lang='en')

	- var page_name = "reg-confirm";

	include jade/base/header.jade
	+header(page_name)
	body
		// Confirmation page starts
		main
			section
				.container-fluid
					.row
						.col-md-5.login-bgimage_position
							a(href='#')
								img.img-responsive.logo-spacing(src='img/logo.png', alt='logo')
						.col-md-7
							.main-form-spacing
								h3.main-form-head.main-form-head--space-bottom Confirmation
								form(action='')
									.col-md-10.confirm-page
										h3 Dear Anil,
										p
											| Thank you for registering with xillion.To continue,please active your account by verifying the link sent to your registered email address.
										//.conformation-btn
											a.btn.btn--no-margin(href='http://www.google.co.in', type='submit') Confirm
			// Confirmation page ended
	script(src='js/jquery-2.1.4.js')