doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Xillion-emp-forgetpwd
		link(rel='stylesheet', href='css/main.css')
	body
		// Forget page starts
		main
			section.employee-login
				.container-fluid
					.row
						.col-md-5.login-bgimage_position
							a(href='#')
								img.img-responsive.logo-spacing(src='img/logo.png', alt='logo')
						.col-md-7
							.main-form-spacing
								h3.main-form-head Forgot password ?
								form.signup-login-form(action='')
									.forget-pwd
										p
											| Enter your registered email address to recieve reset password instructions

										.col-md-4.form-element-wrapper.form-field-container
											.form-element.form-element--input
												label.enter-input.form-text.form-element__label Email Address
												input.input-style-detail.field-text.form-element__input(type='email', name='mail')


										.conformation-btn
											button.btn.btn--no-margin(type='submit') Submit
			// Forget page ended
	script(src='js/jquery-2.1.4.js')
	script(src='js/input-anim.js')
